In [ ]:
#kaggle lib downloading...
!pip install kagglehub

Collecting kagglehub
  Using cached kagglehub-0.3.12-py3-none-any.whl.metadata (38 kB)
Requirement already satisfied: packaging in /Users/deeplatiyan/miniconda3/lib/python3.13/site-packages (from kagglehub) (24.2)
Requirement already satisfied: pyyaml in /Users/deeplatiyan/miniconda3/lib/python3.13/site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in /Users/deeplatiyan/miniconda3/lib/python3.13/site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in /Users/deeplatiyan/miniconda3/lib/python3.13/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in /Users/deeplatiyan/miniconda3/lib/python3.13/site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /Users/deeplatiyan/miniconda3/lib/python3.13/site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in /Users/deeplatiyan/miniconda3/lib/python3.13/site-packages (from requests->kagglehub) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in /Users/deeplatiyan/miniconda3/lib/python3.13/site-packages (from requests->kagglehub) (2025.7.14)
Using cached kagglehub-0.3.12-py3-none-any.whl (67 kB)
Installing collected packages: kagglehub
Successfully installed kagglehub-0.3.12

In [ ]:
#for downloading dataset from kaggle...
import kagglehub

# Download latest version
path = kagglehub.dataset_download("jahias/microsoft-adventure-works-cycles-customer-data")

print("Path to dataset files:", path)

/Users/deeplatiyan/miniconda3/lib/python3.13/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

Downloading from https://www.kaggle.com/api/v1/datasets/download/jahias/microsoft-adventure-works-cycles-customer-data?dataset_version_number=1...

100%|██████████| 939k/939k [00:01<00:00, 574kB/s]

Extracting files...
Path to dataset files: /Users/deeplatiyan/.cache/kagglehub/datasets/jahias/microsoft-adventure-works-cycles-customer-data/versions/1

# Assignment - 3

In [6]:
# Step 1: Load the dataset and examine attributes
import pandas as pd

#load csv file
df = pd.read_csv('AWCustomers.csv')
df.head()#for first 5 lines

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06

In [12]:
print(df.columns)

Index(['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
       'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
       'CountryRegionName', 'PostalCode', 'PhoneNumber', 'BirthDate',
       'Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag',
       'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren',
       'YearlyIncome', 'LastUpdated'],
      dtype='object')

In [ ]:
#Step 2: Feature selection, cleaning, and preprocessing inputs

# 2.1.new dataframe with selected attributes
selected_cols = ['Education', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag', 
                 'NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren', 'YearlyIncome']

df_selected = df[selected_cols]
df_selected.head()

,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome
0,Bachelors,Clerical,M,M,1,3,0,1,81916
1,Partial College,Clerical,M,M,1,2,1,2,81076
2,Bachelors,Clerical,F,S,0,3,0,0,86387
3,Partial College,Skilled Manual,M,M,1,2,1,2,61481
4,Partial College,Skilled Manual,M,S,1,1,0,0,51804

In [2]:
# 2.2.Dictionary for attributes types from the selected attributes

attribute_types_ki_dictionary = {
    #nomial : categories without instrinsic order(e.g. gender, occupation)
    'nominal' : [
        'CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix',
        'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName',
        'CountryRegionName', 'PostalCode', 'PhoneNumber', 'Occupation',
        'Gender', 'MaritalStatus', 'HomeOwnerFlag'
    ],
    
    #ordinary : categories with an order(e.g. Education)
    'ordinal' : ['Education'],
    
    #discrete : countable numeric values
    'discrete' : ['NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren'],
    
    #continuous : values that can take any in any range
    'continous' : ['YearlyIncome']
    
    #ratio : it has true value, and can't be zero
    
    #interval : it does'nt hv true zero, & it can be -ve values
}

print(attribute_types_ki_dictionary)

{'nominal': ['CustomerID', 'Title', 'FirstName', 'MiddleName', 'LastName', 'Suffix', 'AddressLine1', 'AddressLine2', 'City', 'StateProvinceName', 'CountryRegionName', 'PostalCode', 'PhoneNumber', 'Occupation', 'Gender', 'MaritalStatus', 'HomeOwnerFlag'], 'ordinal': ['Education'], 'discrete': ['NumberCarsOwned', 'NumberChildrenAtHome', 'TotalChildren'], 'continous': ['YearlyIncome']}